version: 2.1

orbs:
  python: circleci/python@3.1.0
  codecov: codecov/codecov@5.4.3
  semantic-release: trustedshops-public/semantic-release@6.0.0
  github-utils: trustedshops-public/github-utils@1.1.3

executors:
  python:
    docker:
      - image: cimg/python:3.12
  node:
    docker:
      - image: cimg/python:3.12-node

jobs:
  pip-publish:
    executor: python
    steps:
      - checkout
      - python/install-packages:
          pkg-manager: poetry
      - run:
          name: Publish package
          command: |
              poetry publish \
                --build \
                --username "$TWINE_USERNAME" \
                --password "$TWINE_PASSWORD"

  test:
    parameters:
      python-version:
        type: string
    docker:
      - image: cimg/python:<<parameters.python-version>>
    steps:
      - checkout
      - python/install-packages:
          pkg-manager: poetry
      - run:
          name: Run tests
          command: |
            poetry run coverage run -m pytest --junit-xml test-results/junit.xml
            poetry run coverage report
            poetry run coverage html
            poetry run coverage xml -i
      - store_artifacts:
          path: htmlcov
      - store_test_results:
          path: test-results
      - codecov/upload
  build-gh-pages:
    executor: node
    steps:
      - checkout
      - run:
          name: Checkout pydoctor-theme submodule
          command: |
            git submodule sync
            git submodule update --init --recursive
      - python/install-packages:
          pkg-manager: poetry
      - run:
          name: Build html documentation
          command: |
            poetry run pydoctor

      - github-utils/publish_github_pages:
          folder: gh-pages/
          git_commit_author_email: "no-reply@timo-reymann.de"
          git_commit_author_name: "CircleCI"

workflows:
  continuous:
    jobs:
      - test:
          matrix:
            parameters:
              python-version:
                - "3.9"
                - "3.10"
                - "3.11"
                - "3.12"
                - "3.13"
      - build-gh-pages:
          filters:
            branches:
              only:
                - main
      - pip-publish:
          name: publish-pypi
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /.*/
      - semantic-release/with_existing_config:
          name: semantic-release
          additional_packages: "@google/semantic-release-replace-plugin"
          requires:
            - test
          filters:
            branches:
              only:
                - main
