version: 2.1

orbs:
  python: circleci/python@2.1.1
  codecov: codecov/codecov@3.3.0
  semantic-release: trustedshops-public/semantic-release@6.0.0
  github-utils: trustedshops-public/github-utils@1.1.2

executors:
  python:
    docker:
      - image: cimg/python:3.10
  node:
    docker:
      - image: cimg/python:3.10-node

jobs:
  pip-publish:
    executor: python
    steps:
      - checkout
      - python/install-packages:
          pkg-manager: poetry
      - run:
          name: Publish package
          command: |
              poetry publish \
                --build \
                --username "$TWINE_USERNAME" \
                --password "$TWINE_PASSWORD"

  test:
    executor: python
    steps:
      - checkout
      - python/install-packages:
          pkg-manager: poetry
      - run:
          name: Run tests
          command: |
            poetry run coverage run -m pytest --junit-xml test-results/junit.xml
            poetry run coverage report
            poetry run coverage html
            poetry run coverage xml -i
      - store_artifacts:
          path: htmlcov
      - store_test_results:
          path: test-results
      - codecov/upload
  build-gh-pages:
    executor: node
    steps:
      - checkout
      - python/install-packages:
          pkg-manager: poetry
      - run:
          name: Build html documentation
          command: |
            sudo apt-get update
            sudo apt-get install -y python3-distutils
            mkdir gh-pages
            poetry run pdoc3 oauth2_cli_auth -o gh-pages --html --force
            echo '<meta http-equiv="refresh" content="0; URL=https://timo-reymann.github.io/python-oauth2-cli-auth/oauth2_cli_auth">' > gh-pages/index.html

      - github-utils/publish_github_pages:
          folder: gh-pages/
          git_commit_author_email: "no-reply@timo-reymann.de"
          git_commit_author_name: "CircleCI"

workflows:
  continuous:
    jobs:
      - test
      - build-gh-pages:
          filters:
            branches:
              only:
                - main
      - pip-publish:
          name: publish-pypi
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /.*/
      - semantic-release/with_existing_config:
          name: semantic-release
          additional_packages: "@google/semantic-release-replace-plugin"
          requires:
            - test
          filters:
            branches:
              only:
                - main
